<div id="container">
  <h1>Stupid coaching</h1>
  <form action="/answer" method="get" class="form-box">
    <label for="question" class="label-question">Ask your coach anything:</label>
    <input type="text" name="question"class="input-question">
    <input type="submit" value="Ask!" class="btn-ask">
  </form>
</div>
