// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgb(44, 70, 94);
}

#container {
  border: 1px solid gray;
  border-radius: 4px;
  width: 400px;
  margin: 50px auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
}

.container-answer {
  display:inline-block;
  width: 400px;
  margin-bottom: 40px;
}

.quest {
  padding: 20px 10px;
  background-color: #FFFFFF;
  border-left: 5px solid rgb(239, 239, 239);
  margin-bottom: 20px;
}

.ans {
  padding: 20px 10px;
  background-color: rgb(255, 251, 155);
  border-left: 5px solid rgb(239, 239, 239);
  margin-bottom: 20px;
}

.form-box {
  display: inline-block;
  width: 400px;
}

.label-question {
  display: block;
  margin: 20px 0px;
}

.input-question {
  display: inline;
  padding: 10px 20px;
  margin-bottom: 40px;
  width: 280px;
}

.btn-ask {
  border-radius: 4px;
  background-color: rgb(51, 122, 183);
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin-bottom: 40px;
}
